.layout {
  color: black;
  background-color: #c7c7c7;
  overflow: hidden;

  position: relative;
  z-index: 0;
  box-sizing: border-box;
  height: 100%;

  display: flex;
}

.workplace {
  width: 100%;
  height: 100%;
}

.side {

}