.widget {
  color: black;
  background-color: #888;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: absolute;
}

.header {
  background-color: #666;
  height: 16px;
  margin: 1px;
  cursor: grabbing;
  position: relative;
  &:hover {
    //background-color: #777777;
  }
}

.mouseEvents {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: grabbing;
}

.body {

}

.close {
  border: none;
  background-color: #444444;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 0;
  cursor: pointer;
  &:hover {
    background-color: #8a8a8a;
  }
}