$borderSize: 6px;

.widget {
  color: black;
  background-color: #888;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: absolute;
  padding: 0;
}

.header {
  background-color: #666;
  height: 16px;
  margin: 1px;
  cursor: grabbing;
  position: relative;
  &:hover {
    //background-color: #777777;
  }
}

.mouseEvents {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 1000px;
  height: 1000px;
  cursor: grabbing;
}

.body {
  flex: auto;
}

.close {
  border: none;
  background-color: #444444;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 0;
  cursor: pointer;
  &:hover {
    background-color: #8a8a8a;
  }
}

.edge {
  background-color: #c45b5b;
  position: absolute;
  &:hover {
    background-color: #da1c1c;
  }
}
.edgeRight {
  width: $borderSize;
  cursor: e-resize;
  right: -$borderSize;
  top: 0;
  bottom: 0;
}
.edgeLeft {
  width: $borderSize;
  cursor: w-resize;
  left: -$borderSize;
  top: 0;
  bottom: 0;
}
.edgeTop {
  height: $borderSize;
  cursor: n-resize;
  left: 0;
  right: 0;
  top: -$borderSize;
}
.edgeBottom {
  height: $borderSize;
  cursor: s-resize;
  left: 0;
  right: 0;
  bottom: -$borderSize;
}

.corner00 {
  width: $borderSize;
  height: $borderSize;
  left: -$borderSize;
  top: -$borderSize;
  cursor: nw-resize;
}

.corner10 {
  width: $borderSize;
  height: $borderSize;
  right: -$borderSize;
  top: -$borderSize;
  cursor: ne-resize;
}

.corner11 {
  width: $borderSize;
  height: $borderSize;
  right: -$borderSize;
  bottom: -$borderSize;
  cursor: se-resize;
}

.corner01 {
  width: $borderSize;
  height: $borderSize;
  left: -$borderSize;
  bottom: -$borderSize;
  cursor: sw-resize;
}